
<div class="sidebar">
    <div style="    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
    padding-top: 3vw;
   ">
        <div>
            <div  style="display:flex;justify-content: center; align-items: center; height:55px; width:55px; background-color:grey ; border-radius:10px "  >
                <svg xmlns="http://www.w3.org/2000/svg" fill="white" style=" background-color:grey; " height="40" viewBox="0 96 960 960" width="40"><path d="M480 575q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160 896v-94q0-38 19-65t49-41q67-30 128.5-45T480 636q62 0 123 15.5t127.921 44.694q31.301 14.126 50.19 40.966Q800 764 800 802v94H160Zm60-60h520v-34q0-16-9.5-30.5T707 750q-64-31-117-42.5T480 696q-57 0-111 11.5T252 750q-14 7-23 21.5t-9 30.5v34Zm260-321q39 0 64.5-25.5T570 425q0-39-25.5-64.5T480 335q-39 0-64.5 25.5T390 425q0 39 25.5 64.5T480 515Zm0-90Zm0 411Z"/></svg>
            </div>
        </div>
        <div>
            <p class="heading">Mohammed Ali</p>
        </div>
    </div>
    <hr style="width: 85%; color: #686d6d; height:0.5px; background-color: #686d6d; border-color: #686d6d;">
    <div style="display: flex;
    flex-direction: column;
    font-size: 12px;
    row-gap: 0.8vw;
    padding:0px 20px 0px 15px;">
         <div>
            <p class="label">Vendor Code</p>
            <span class="side-bar-sub-text">17354678</span>
        </div>
        <div  style=" height: 1px; width: 15%;  border: none;  border-top: 0.5px solid #686d6d;"></div>
        <div>
            <p class="label">Vendor Address</p>
            <span class="side-bar-sub-text">Dhahran</span>
        </div>
        <div  style=" height: 1px; width: 15%;  border: none;  border-top: 0.5px solid #686d6d;"></div>
        <div>
            <p class="label">CPRO Number</p>
            <span class="side-bar-sub-text">985347202</span>
        </div>
        <div  style=" height: 1px; width: 15%;  border: none;  border-top: 0.5px solid #686d6d;"></div>
        <div>
            <p class="label">CPRO Description</p>
            <span class="side-bar-sub-text">Description</span>
        </div>
        <div  style=" height: 1px; width: 15%;  border: none;  border-top: 0.5px solid #686d6d;"></div>
        <div>
            <p class="label">CPRO Start Date</p>
            <span class="side-bar-sub-text">11/02/2023</span>
        </div> 
        <div  style=" height: 1px; width: 15%;  border: none;  border-top: 0.5px solid #686d6d;"></div> 
        <div>
            <p class="label">CPRP End Date</p>
            <span class="side-bar-sub-text">11/02/2053</span>
        </div>
       
    </div>
</div>