<ng-container *ngIf="renew" >
<div  class="top-cnt">
    <div class="cnt1">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon=" arrow_back_ios" (click)="back()"
        class="mpointer"></mat-icon>
      <span  class="headertext">Renew Sticker</span>
       
    </div>

</div>
<!-- <div *ngIf="status" ="display:flex; justify-content: center; align-items: center; height:auto;
 width:100%; flex-direction: row;">
    <div ="margin: 0px; height:4vh; width:auto;  display:flex; justify-content: center; align-items: center;"><span
            ="height:35px; width:35px; border-radius: 50%; background-color: #00ADE5;display:flex; justify-content: center; align-items: center; color:white; ">1</span><span
            ="color:#00ADE5; padding:3px;">Plant Code/Group</span></div>
    <hr ="width:3%; color:#00ADE5; background-color: #00ADE5; margin:0px; padding:0px">
    <div ="margin: 0px; height:4vh;  width:auto;  display:flex; justify-content: center; align-items: center;">
        <span
            ="height:35px; width:35px; border-radius: 50%; background-color: #00ADE5;display:flex; justify-content: center; align-items: center; color:rgb(255, 255, 255); ">2</span><span
            ="color:#00ADE5; padding:3px;">Approver</span></div>
    <hr ="width:3%; color:#00ADE5; background-color: #00ADE5; margin:0px; padding:0px;">
    <div ="margin: 0px; height:4vh; width:auto;  display:flex; justify-content: center; align-items: center;"><span
            ="height:35px; width:35px; border-radius: 50%; background-color:#00ADE5;display:flex; justify-content: center; align-items: center; color:rgb(255, 255, 255); ">3</span><span
            ="color:#00ADE5; padding:3px;">Submission</span></div>
</div> -->
<div class="personal-details">
    <div class="flexboxhead">
        <h3 class="flex-header-cnt">Personal
            Details</h3>
    </div>
    <div class="pd-data" id="pernerdet">
        <div class="pd-data-header">Badge Number<span class="red-star">*</span></div>
        <div class="pd-data-items">{{badgenum}}</div>
        <div class="pd-data-header">Employee Name</div>
        <div class="pd-data-items">{{empname}}</div>
        <div class="pd-data-header">No.of Sticker</div>
        <div class="pd-data-items">{{nos}}</div>


    </div>

</div>

<form [formGroup]="RenewSticker">

    <div class="flexboxhead">
        <h3 class="flex-header-cnt">Vechile
            Details</h3>
    </div>
    <div class="Vechile_Details_Main">
        <!-- <div class="Vechile_Details_Sub"> -->
        <!-- <div></div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Type<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="make">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                    <!-- <mat-option value="option3">Option 3</mat-option> -->
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Make<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="type">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Model<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="model">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Year<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="year">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- </div>   -->

        <!-- <div class="Vechile_Details_Sub"> -->
        <!-- <div></div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Primary Color<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="primarycolor">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Secondary Color<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="secondarycolor">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Orgin<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="orgin">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Owner<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="owner">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- </div>   -->

        <!-- <div class="Vechile_Details_Sub_two"> -->
        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">Plate Category<span class="red-star">*</span></div>
        <div  class="grid-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="platecategory">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->

        <!-- <div class="Vechile_Details_Cnt"> -->
        <div  class="grid-item_header">License Plate No<span class="red-star">*</span></div>
        <div  class="grid-item_details last">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="licenseplateno">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="msowdh" appearance="outline">
                <mat-select>
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field class="msowdh" appearance="outline">
                <mat-select>
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- </div> -->
        <!-- </div> -->



    </div>

    <div class="flexboxhead">
        <h3 class="flex-header-cnt">Sticker
            Details</h3>
    </div>

    <div class="Sticker_Details_Main">

        <div  class="sticker-item_header">Sticker Office<span class="red-star">*</span></div>
        <div  class="sticker-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="stickeroffice">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div  class="sticker-item_header">Expiry</div>
        <div  class="sticker-item_details">
            <mat-radio-group aria-label="Select an option" class="mrfsize">
                <mat-radio-button value="1" class="mrfsize">Regular Validity</mat-radio-button>
                <mat-radio-button value="2" class="mrfsize">Short Duration</mat-radio-button>
            </mat-radio-group>
        </div>

        <div  class="sticker-item_header">Company/Private</div>
        <div  class="sticker-item_details">
            <mat-form-field class="strdetwdh" appearance="outline">
                <mat-select formControlName="company">
                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div  class="sticker-item_header">Sticker Type<span class="red-star">*</span></div>
        <div  class="sticker-item_details">
            <mat-form-field class="strdetwdh" appearance="outline">
                <mat-select formControlName="stickertype" >
                    <mat-option *ngFor="let type of Contractor_Types" [value]="type.value" class="mofs">
                        {{type.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
    <!-- <div ="display: flex; flex-direction:column; padding: 20px 30px 0px 30px; ">
        <span class="flex-header-cnt">Allowed Hours</span>
    </div>

    <div class="Sticker_Details_Main">

        <div  class="hours-item_header">Start Time<span class="red-star">*</span></div>
        <div  class="hours-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="starttime">
                    <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div  class="hours-item_header">End Time<span class="red-star">*</span></div>
        <div  class="hours-item_details">
            <mat-form-field class="mffwdhrenew" appearance="outline">
                <mat-select formControlName="endtime">
                    <mat-option *ngFor="let type of types" [value]="type.value">
                        {{type.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div> -->


    <div class="jsfyheadbox">
        <h3 class="flex-header-cnt" style="border:none">Justification<span class="red-star">*</span></h3>
        <span class="jstfyhint">(must be more than 50 characters and less than 220 characters)</span>
    </div>
    <div class="justify-flex-box">
        <div class="justifycnt">
            <p id="justifytxt2" class="vechilefont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                cupiditate incidunt aperiam laudantium veritatis omnis molestias assumenda possimus modi. </p>
        </div>

    </div>
</form>
<br>
<br>
<div *ngIf="renewgates">
    <div class="flexheaderbox">
    <h3 class="flex-header-cnt" id="bzero">Selected Gates</h3>
</div>
<div class="tableflex">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" style="border-left: none;">
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef >
                <div class="mbox10">
                    <span >Gate Code and Name</span>
                </div>
            </th>
            <td mat-cell *matCellDef="let row">
                <div class="mbox9">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="($event ? selection.toggle(row) : null)"
                        [checked]="true" [aria-label]="checkboxLabel(row)" [disabled]="false">
                    </mat-checkbox>
                    <span >{{row.GateCode}}</span>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef >
                <div class="mbox10">
                    <span >Area</span>
                </div>
            </th>


            <td mat-cell *matCellDef="let row">
                <div class="mbox9">
                    <span >{{row.Area}}</span>
                </div>
            </td>

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="selgatesheader"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<br>
<br>
</div>
<div *ngIf="renewApprovers">
 <div
   class="flexheaderbox">
    <h3 class="flex-header-cnt" id="bone">Selected Restricted Access</h3>
</div>
<!-- plantcode: 'Dharan Terminal', plantgroup: 'PHR', validitytype: 'Permanent', expirydate: '12/12/2023', name: 'Husain' -->
    <div class="tableflexcnt">
        <div class="tablefstcnt">
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z0">
                <!-- EmployeeName: 'James Smith', BadgeNumber: 15181034, Sticker: '1/4', Action: 'View More', -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef > Description </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="mbox9">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="($event ? selection.toggle(element) : null)" [checked]="true"
                                [aria-label]="checkboxLabel(element)" [disabled]="false">
                            </mat-checkbox>
                            <span > {{element.plantcode}}</span>
                        </div>
                    </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Plant Code/Group </th>
                    <td mat-cell *matCellDef="let element"> {{element.plantgroup}} </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef > Expiry Date </th>
                    <td mat-cell *matCellDef="let element">
                        <!-- <mat-form-field class="mffwdhrenew" appearance="outline" >
                        <mat-select [(ngModel)]="selecteddate" name="date">
                          <mat-option  [value]="12/12/1999" >
                            12/12/1999
                          </mat-option>
                        </mat-select>
                      </mat-form-field> -->
                        <mat-form-field class="mffwdhrenew" appearance="outline">
                            <input matInput autocomplete="nope" [matDatepicker]="resval" required>
                            <mat-datepicker-toggle matSuffix [for]="resval"></mat-datepicker-toggle>
                            <mat-datepicker #resval [startAt]="resValidDate"></mat-datepicker>
                        </mat-form-field>
                    </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef > ValidityType </th>
                    <td mat-cell *matCellDef="let element" class="tabledataclr">
                        <mat-form-field class="mffwdhrenew" appearance="outline">
                            <mat-select [(ngModel)]="selectedvaltype" name="valtype" class="mofs">
                                <mat-option [value]="element.validitytype">
                                    {{element.validitytype}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="example-second-header-row"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
        <div class="tableseccnt">
            <div class="tableheader-c">
                <span>Approver</span>
            </div>
            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z0" id="aprtable">
                <!-- EmployeeName: 'James Smith', BadgeNumber: 15181034, Sticker: '1/4', Action: 'View More', -->
                <ng-container matColumnDef="position">
    
                    <th mat-header-cell *matHeaderCellDef >Name </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field class="mffwdhrenew" appearance="outline">
                            <mat-select [(ngModel)]="selectedname" name="name" class="mofs">
                                <mat-option [value]="element.name">
                                    {{element.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </ng-container>
    
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > Position</th>
                    <td mat-cell *matCellDef="let element"> Developer </td>
                </ng-container>
    
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef >Org Code</th>
                    <td mat-cell *matCellDef="let element">
                        2185
                    </td>
                </ng-container>
    
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef >Org Name</th>
                    <td mat-cell *matCellDef="let element" class="tabledataclr"> Ktern </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="selgatesheader"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
    </div>
    <br>
<br>
</div>           
<div *ngIf="true" class="footerbox">

    <button mat-raised-button class="vechilefont"
       id="cancelbtn"
        >Cancel</button>
    <button mat-raised-button class="vechilefont"
       id="continuebtn" (click)="rgaccess()"
       >Continue</button>


</div>
</ng-container>
<app-gate-access-shared *ngIf="gateaccess" [datatable]="dataSource" (submitgateaccess)="rgaccesssubmit($event)"></app-gate-access-shared>
<!-- <app-add-restricted-access *ngIf="restrictaccess" [datatable2]="dataSource3"  [datatable3]="dataSource4" (submitaddrestrictaccess)="rsarestrictaccess($event)"></app-add-restricted-access>
<app-add-restrict-approver *ngIf="approver"  [approvertable1]="dataSource5"    [approvertable2]="dataSource5"  (submitapprovers)="rsubmitapprovers($event)"></app-add-restrict-approver> -->
<ng-container *ngIf="approver">
    <div  class="top-cnt">
        <div class="cnt1">
         <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon=" arrow_back_ios" (click)="back()" class="mpointer"> </mat-icon>
         <span  class="headertext">Restricted Access</span>
         </div>
     </div>
    <div class="stepperbox"> 
    <mat-horizontal-stepper  [animationDuration]="duration"  #stepper>  
        <mat-step matStepperIcon="done" [completed]="step1Completed" >
        <ng-template matStepLabel  ><span class="stepperhead" >Plant Code/Group </span></ng-template>
          <div>
            <app-restricted-access></app-restricted-access>
          </div>
        </mat-step>
    
        <mat-step  [completed]="step2Completed" #step2>
        <ng-template matStepLabel><span class="stepperhead" >Approver </span></ng-template>
          <div>
            <app-restrict-approver *ngIf="afterselectedgates"></app-restrict-approver>
          </div>
        </mat-step>
    
        <mat-step [completed]="step3Completed" #step3>
            <ng-template matStepLabel ><span class="stepperhead"  >Submission</span></ng-template>
            <div *ngIf="Finaldata">
                <!-- <app-fsubmission *ngIf="Finaldata"></app-fsubmission> -->
                <div class="personal-details">
                    <div class="flexboxhead">
                        <h3 class="flex-header-cnt">Personal
                            Details</h3>
                    </div>
                    <div class="pd-data" id="spernerdet">
                        <div class="pd-data-header">Badge Number<span class="red-star">*</span></div>
                        <div class="pd-data-items">{{badgenum}}</div>
                        <div class="pd-data-header">Employee Name</div>
                        <div class="pd-data-items">{{empname}}</div>
                        <div class="pd-data-header">No.of Sticker</div>
                        <div class="pd-data-items">{{nos}}</div>
                    </div>
                </div>
                <form [formGroup]="RenewSticker"> 
                    <div class="flexboxhead">
                        <h3 class="flex-header-cnt">Vechile
                            Details</h3>
                    </div>
                    <div class="Vechile_Details_Main">
                        <!-- <div class="Vechile_Details_Sub"> -->
                        <!-- <div></div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Type<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="make">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                    <!-- <mat-option value="option3">Option 3</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Make<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="type">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Model<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="model">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Year<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="year">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- </div>   -->
                
                        <!-- <div class="Vechile_Details_Sub"> -->
                        <!-- <div></div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Primary Color<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="primarycolor">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Secondary Color<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="secondarycolor">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Orgin<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="orgin">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Owner<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="owner">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- </div>   -->
                
                        <!-- <div class="Vechile_Details_Sub_two"> -->
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">Plate Category<span class="red-star">*</span></div>
                        <div  class="grid-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="platecategory">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                
                        <!-- <div class="Vechile_Details_Cnt"> -->
                        <div  class="grid-item_header">License Plate No<span class="red-star">*</span></div>
                        <div  class="grid-item_details last">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="licenseplateno">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field class="msowdh" appearance="outline">
                                <mat-select>
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            &nbsp;
                            <mat-form-field class="msowdh" appearance="outline">
                                <mat-select>
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- </div> -->
                        <!-- </div> -->
                
                
                
                    </div>
                
                    <div class="flexboxhead">
                        <h3 class="flex-header-cnt">Sticker
                            Details</h3>
                    </div>
                
                    <div class="Sticker_Details_Main">
                
                        <div  class="sticker-item_header">Sticker Office<span class="red-star">*</span></div>
                        <div  class="sticker-item_details">
                            <mat-form-field class="mffwdhrenew" appearance="outline">
                                <mat-select formControlName="stickeroffice">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div  class="sticker-item_header">Expiry</div>
                        <div  class="sticker-item_details">
                            <mat-radio-group aria-label="Select an option" class="mrfsize">
                                <mat-radio-button value="1" class="mrfsize">Regular Validity</mat-radio-button>
                                <mat-radio-button value="2" class="mrfsize">Short Duration</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div  class="sticker-item_header">Company/Private</div>
                        <div  class="sticker-item_details">
                            <mat-form-field class="strdetwdh" appearance="outline">
                                <mat-select formControlName="company">
                                    <mat-option *ngFor="let type of types" [value]="type.value" class="mofs">
                                        {{type.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                
                        <div  class="sticker-item_header">Sticker Type<span class="red-star">*</span></div>
                        <div  class="sticker-item_details">
                            <mat-form-field class="strdetwdh" appearance="outline">
                                <mat-select formControlName="stickertype" >
                                    <mat-option *ngFor="let type of Contractor_Types" [value]="type.value" class="mofs">
                                        {{type.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                
                    </div>
                  
                
                
                    <div class="jsfyheadbox">
                        <h3 class="flex-header-cnt" style="border:none">Justification<span class="red-star">*</span></h3><span class="jstfyhint">(must be more than 50 characters and less than 220 characters)</span>
                    </div>
                
                    <div
                        class="justify-flex-box">
                        <div class="justifycnt">
                            <p id="justifytxt1" class="vechilefont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                                cupiditate incidunt aperiam laudantium veritatis omnis molestias assumenda possimus modi. </p>
                        </div>
                
                    </div>
                </form>
                <br>
                <br>
                <div>
                    <div class="flexheaderbox">
                    <h3 class="flex-header-cnt" id="btwo">Selected Gates</h3>
                </div>
                <div class="tableflex">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0" style="border-left: none;">
                        <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef >
                                <div class="mbox10">
                                    <span >Gate Code and Name</span>
                                </div>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <div class="mbox9">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="($event ? selection.toggle(row) : null)"
                                        [checked]="true" [aria-label]="checkboxLabel(row)" [disabled]="false">
                                    </mat-checkbox>
                                    <span >{{row.GateCode}}</span>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="area">
                            <th mat-header-cell *matHeaderCellDef >
                                <div class="mbox10">
                                    <span >Area</span>
                                </div>
                            </th>
                
                
                            <td mat-cell *matCellDef="let row">
                                <div class="mbox9">
                                    <span >{{row.Area}}</span>
                                </div>
                            </td>
                
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="selgatesheader"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <br>
                <br>
                </div>
                <div >
                 <div
                   class="flexheaderbox">
                    <h3 class="flex-header-cnt" id="bthree">Selected Restricted Access</h3>
                </div>
                <!-- plantcode: 'Dharan Terminal', plantgroup: 'PHR', validitytype: 'Permanent', expirydate: '12/12/2023', name: 'Husain' -->
                    <div class="tableflexcnt">
                        <div id="srafsttable">
                            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z0">
                                <!-- EmployeeName: 'James Smith', BadgeNumber: 15181034, Sticker: '1/4', Action: 'View More', -->
                                <ng-container matColumnDef="position">
                                    <th mat-header-cell *matHeaderCellDef > Description </th>
                                    <td mat-cell *matCellDef="let element">
                                        <div class="mbox9">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="($event ? selection.toggle(element) : null)" [checked]="true"
                                                [aria-label]="checkboxLabel(element)" [disabled]="false">
                                            </mat-checkbox>
                                            <span > {{element.plantcode}}</span>
                                        </div>
                                    </td>
                                </ng-container>
                    
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef > Plant Code/Group </th>
                                    <td mat-cell *matCellDef="let element"> {{element.plantgroup}} </td>
                                </ng-container>
                    
                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef > Expiry Date </th>
                                    <td mat-cell *matCellDef="let element">
                                        <!-- <mat-form-field class="mffwdhrenew" appearance="outline" >
                                        <mat-select [(ngModel)]="selecteddate" name="date">
                                          <mat-option  [value]="12/12/1999" >
                                            12/12/1999
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field> -->
                                        <mat-form-field class="mffwdhrenew" appearance="outline">
                                            <input matInput autocomplete="nope" [matDatepicker]="resval" required>
                                            <mat-datepicker-toggle matSuffix [for]="resval"></mat-datepicker-toggle>
                                            <mat-datepicker #resval [startAt]="resValidDate"></mat-datepicker>
                                        </mat-form-field>
                                    </td>
                                </ng-container>
                    
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef > ValidityType </th>
                                    <td mat-cell *matCellDef="let element" class="tabledataclr">
                                        <mat-form-field class="mffwdhrenew" appearance="outline">
                                            <mat-select [(ngModel)]="selectedvaltype" name="valtype">
                                                <mat-option [value]="element.validitytype" class="mofs">
                                                    {{element.validitytype}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </ng-container>
                    
                                <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="example-second-header-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                            </table>
                        </div>
                        <div id="aprtbox">
                            <div class="tableheader-c">
                                <span>Approver</span>
                            </div>
                            <table mat-table [dataSource]="dataSource2" class="mat-elevation-z0" >
                                <!-- EmployeeName: 'James Smith', BadgeNumber: 15181034, Sticker: '1/4', Action: 'View More', -->
                    
                                <ng-container matColumnDef="position">
                    
                                    <th mat-header-cell *matHeaderCellDef >Name </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-form-field class="mffwdhrenew" appearance="outline">
                                            <mat-select [(ngModel)]="selectedname" name="name">
                                                <mat-option [value]="element.name" class="mofs">
                                                    {{element.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </ng-container>
                    
                                <!-- Name Column -->
                                <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef > Position</th>
                                    <td mat-cell *matCellDef="let element"> Developer </td>
                                </ng-container>
                    
                                <!-- Weight Column -->
                                <ng-container matColumnDef="weight">
                                    <th mat-header-cell *matHeaderCellDef >Org Code</th>
                                    <td mat-cell *matCellDef="let element">
                                        2185
                                    </td>
                                </ng-container>
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="symbol">
                                    <th mat-header-cell *matHeaderCellDef >Org Name</th>
                                    <td mat-cell *matCellDef="let element" class="tabledataclr"> Ktern </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="selgatesheader"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                            </table>
                        </div>
                    </div>
                    <br>
                <br>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    </div>
    <div class="footerbox">
        <button mat-raised-button class="vechilefont" id="cnclbtn"
           (click)="previous(stepper)"  >Cancel</button>
        <button mat-raised-button class="vechilefont" id="contbtn"
            (click)="next(stepper)" >continue</button>
    </div>
</ng-container>
