/* ---------------- Aramco colors ---------------- */
$white: #ffffff;
$black: #333333;
$grey: #676a6e;
$grey-50: #808080;
$grey-25: #c0c0c0;
$grey-15: #dadada;
$grey-7: #ececec;
$light-grey: #F6F6F6;
$red: #d22630;
$orange: #f68d2e;
$lt-orange: #f0b323;
$yellow: #ffd100;
$lt-green: #84bd00;
$green: #00843d;
$turq: #00968f;
$lt-blue: #00a3e0;
$blue: #0033a0;
$purple: #702082;
$magenta: #c6007e;

/* Shade */
$red-shade: #9e1d24;
$orange-shade: #b96a23;
$lt-orange-shade: #b4861a;
$yellow-shade: #a99d00;
$lt-green-shade: #638e00;
$green-shade: #00632e;
$turq-shade: #00716b;
$lt-blue-shade: #007aa8;
$blue-shade: #002678;
$purple-shade: #541862;
$magenta-shade: #95005f;

/* Tint 1 */
$red-tint: #e47d83;
$orange-tint: #fabb82;
$lt-orange-tint: #f6d17b;
$yellow-tint: #ede366;
$lt-green-tint: #b5d766;
$green-tint: #66b58b;
$turq-tint: #66c0bc;
$lt-blue-tint: #66c8ec;
$blue-tint: #6685c6;
$purple-tint: #a979b4;
$magenta-tint: #dd66b2;

/* Tint 2 */
$red-tint2: #f6d4d6;
$orange-tint2: #fde8d5;
$lt-orange-tint2: #fcf0d3;
$yellow-tint2: #f9f6cc;
$lt-green-tint2: #e6f2cc;
$green-tint2: #cce6d8;
$turq-tint2: #cceae9;
$lt-blue-tint2: #ccedf9;
$blue-tint2: #ccd6ec;
$purple-tint2: #e2d2e6;
$magenta-tint2: #f4cce5;
