@import './aramco-standard.scss';

$id-primary-blue: $lt-blue;
$id-primary-black: $black;

@import './aramco-standard.scss';

$id-primary-blue: $lt-blue;
$id-primary-black: $black;
$id-primary-white: $white;

$id-primary-grey: $grey;
$id-grey-family50: $grey-50;
$id-grey-family25: $grey-25;
$id-grey-family15:$grey-15;
$id-grey-family7: $grey-7;
$id-lightgrey: $light-grey;

$id-primary-red:$red;
$id-primary-orange:$orange;
$id-light-orange:$lt-orange;
$id-primary-yellow:$yellow;
$id-light-green:$lt-green;
$id-primary-green:$green;
$id-primary-turq:$turq;
$id-primary-darkblue:$blue;
$id-primary-purple:$purple;
$id-primary-magenta:$magenta;

/* Shade */
$id-red-shade:$red-shade;
$id-primary-magenta:$orange-shade;
$id-lt-orange-shade:$lt-orange-shade;
$id-yellow-shade:$yellow-shade;
$id-lt-green-shade:$lt-green-shade;
$id-green-shade:$green-shade;
$id-turq-shade:$turq-shade;
$id-lt-blue-shade:$lt-blue-shade;
$id-blue-shade:$blue-shade;
$id-purple-shade:$purple-shade;
$id-magenta-shade:$magenta-shade;

/* Tint 1 */
$id-red-tint:$red-tint;
$id-orange-tint:$orange-tint;
$id-lt-orange-tint:$lt-orange-tint;
$id-yellow-tint:$yellow-tint;
$id-lt-green-tint:$lt-green-tint;
$id-green-tint:$green-tint;
$id-turq-tint:$turq-tint;
$id-lt-blue-tint:$lt-blue-tint;
$id-blue-tint:$blue-tint;
$id-purple-tint:$purple-tint;
$id-magenta-tint:$magenta-tint;


/* Tint 2 */
$id-red-tint2:$red-tint2;
$id-orange-tint2:$orange-tint2;
$id-lt-orange-tint2:$lt-orange-tint2;
$id-yellow-tint2:$yellow-tint2;
$id-lt-green-tint2:$lt-green-tint2;
$id-green-tint2:$green-tint2;
$id-turq-tint2:$turq-tint2;
$id-lt-blue-tint2:$lt-blue-tint2;
$id-blue-tint2:$blue-tint2;
$id-purple-tint2:$purple-tint2;
$id-magenta-tint2:$magenta-tint2;


