
<div class="row header" >
    <span (click)="gohome()" class="material-icons" style="cursor: pointer;">
        arrow_back_ios
        </span>
    <span>
        <div class="row">
            <div>
                <div style="margin-top:0px; font-size: 1vw;">UserName</div> 
            </div>
            <a class="navbar-brand">
                <div class="logo-image">
                    &nbsp;&nbsp;<img src="assets/Aramco.png" class="img-fluid" width="40px">&nbsp;&nbsp;
                </div>
            </a>
        </div>
    </span>
</div>
