<!-- <div  class="top-cnt">
        <div class="cnt1">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon=" arrow_back_ios" (click)="back()"
                 class="mpointer"></mat-icon>
            <span  class="headertext">{{Title}}</span>
        </div>
    </div> -->
    <!-- <div *ngIf="false" ="display:flex; justify-content: center; align-items: center; height:auto;
     width:100%; flex-direction: row;">
        <div ="margin: 0px; height:4vh; width:auto;  display:flex; justify-content: center; align-items: center;"><span
                ="height:35px; width:35px; border-radius: 50%; background-color: #00ADE5;display:flex; justify-content: center; align-items: center; color:white; ">1</span><span
                ="color:#00ADE5; padding:3px;">Plant Code/Group</span></div>
        <hr ="width:3%; color:#00ADE5; background-color: #00ADE5; margin:0px; padding:0px">
        <div ="margin: 0px; height:4vh;  width:auto;  display:flex; justify-content: center; align-items: center;">
            <span
                ="height:35px; width:35px; border-radius: 50%; background-color: #00ADE5;display:flex; justify-content: center; align-items: center; color:rgb(255, 255, 255); ">2</span><span
                ="color:#00ADE5; padding:3px;">Approver</span></div>
        <hr ="width:3%; color:#00ADE5; background-color: #00ADE5; margin:0px; padding:0px;">
        <div ="margin: 0px; height:4vh; width:auto;  display:flex; justify-content: center; align-items: center;"><span
                ="height:35px; width:35px; border-radius: 50%; background-color:#00ADE5;display:flex; justify-content: center; align-items: center; color:rgb(255, 255, 255); ">3</span><span
                ="color:#00ADE5; padding:3px;">Submission</span></div>
    </div> -->
    <div class="personal-details">
        <div class="flexheaderbox">
            <h3 class="flex-header-cnt">Personal
                Details</h3>
        </div>
        <div class="pd-data" id="padpernerdata">
            <div class="pd-data-header">Badge Number<span class="redstar">*</span></div>
            <div class="pd-data-items">{{badgenum}}</div>
            <div class="pd-data-header">Employee Name</div>
            <div class="pd-data-items">{{empname}}</div>
            <div class="pd-data-header">No.of Sticker</div>
            <div class="pd-data-items">{{nos}}</div>
        </div>
    
    </div>
    
    <form [formGroup]="StickerActions" >

        <div class="flexheaderbox">
            <h3 class="flex-header-cnt">Vechile
                Details</h3>
        </div>
        <div class="Vechile_Details_Main">
            <!-- <div class="Vechile_Details_Sub"> -->
            <!-- <div></div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Type<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="make">
                        <mat-option  value="this.VechicleDetails.Make" class=mofs>
                            {{this.VechicleDetails.Make}}
                        </mat-option>
                        <!-- <mat-option value="option3">Option 3</mat-option> -->
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Make<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Model<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="model">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Year<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="year">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- </div>   -->
    
            <!-- <div class="Vechile_Details_Sub"> -->
            <!-- <div></div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Primary Color<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="primarycolor">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Secondary Color<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="secondarycolor">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Orgin<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="orgin">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Owner<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="owner">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- </div>   -->
    
            <!-- <div class="Vechile_Details_Sub_two"> -->
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">Plate Category<span class="redstar">*</span></div>
            <div  class="grid-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="platecategory">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
    
            <!-- <div class="Vechile_Details_Cnt"> -->
            <div  class="grid-item_header">License Plate No<span class="redstar">*</span></div>
            <div  class="grid-item_details last">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="licenseplateno">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="boxwdthsmall" appearance="outline">
                    <mat-select>
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                &nbsp;
                <mat-form-field class="boxwdthsmall" appearance="outline">
                    <mat-select>
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- </div> -->
            <!-- </div> -->
    
    
    
        </div>
    
        <div class="flexheaderbox">
            <h3 class="flex-header-cnt">Sticker
                Details</h3>
        </div>
    
        <div class="Sticker_Details_Main">
    
            <div  class="sticker-item_header">Sticker Office<span class="redstar">*</span></div>
            <div  class="sticker-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="stickeroffice">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div  class="sticker-item_header">Expiry</div>
            <div  class="sticker-item_details">
                <mat-radio-group aria-label="Select an option" class="matradbtn">
                    <mat-radio-button value="1" class="matradbtn">Regular Validity</mat-radio-button>
                    <mat-radio-button value="2" class="matradbtn">Short Duration</mat-radio-button>
                </mat-radio-group>
            </div>
    
    
    
    
    
            <div  class="sticker-item_header">Company/Private</div>
            <div  class="sticker-item_details">
                <mat-form-field class="boxwdth" appearance="outline">
                    <mat-select formControlName="company">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div  class="sticker-item_header">Sticker Type<span class="redstar">*</span></div>
            <div  class="sticker-item_details">
                <mat-form-field class="boxwdth" appearance="outline">
                    <mat-select formControlName="stickertype">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
        </div>
        <div class="flexheaderbox">
            <h3 class="flex-header-cnt">Allowed Hours</h3>
        </div>
    
        <div class="Sticker_Details_Main">
    
            <div  class="hours-item_header">Start Time<span class="redstar">*</span></div>
            <div  class="hours-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="starttime">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
            <div  class="hours-item_header">End Time<span class="redstar">*</span></div>
            <div  class="hours-item_details">
                <mat-form-field class="stracmff" appearance="outline">
                    <mat-select formControlName="endtime">
                        <mat-option *ngFor="let type of types" [value]="type.value" class=mofs>
                            {{type.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
    
        </div>
    
    
        <div class="flexheaderbox">
            <h3 class="flex-header-cnt">Justification<span class="redstar">*</span></h3>
        </div>
    
        <div
           class="jstfybox">
            <div class="jstfycnt">
                <p id="jstfytxt" class="vechilefont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non
                    cupiditate incidunt aperiam laudantium veritatis omnis molestias assumenda possimus modi. </p>
            </div>
    
        </div>
    </form>
    
    <br>
    <br>
    <!-- <div *ngIf="false"
         ="display:flex; justify-content: flex-end; align-items: center; flex-direction: row; column-gap: 30px;  flex-wrap: wrap;">
    
        <button mat-raised-button class="vechilefont"
           ="padding-left: 20px; padding-right: 20px; background-color: #fffcfc;  color:rgb(0, 0, 0);"
            >Cancel</button>
        <button mat-raised-button class="vechilefont"
           ="padding-left: 20px; padding-right: 20px;background-color: #008300;  color:white;" (click)="actions()"
           >Continue</button>
    
    
    </div> -->


